/* auth.css */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.form-input {
    background-color: #2f2839;
}

.dark .form-input {
    background-color: #2f2839;
}

.dark .form-input:focus {
    outline: 2px solid #e83e8c;
    outline-offset: 2px;
}

@keyframes blob-1 {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(150px, -100px) scale(1.2);
    }
    50% {
        transform: translate(80px, 150px) scale(0.8);
    }
    75% {
        transform: translate(-120px, 100px) scale(1.1);
    }
}

@keyframes blob-2 {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(-150px, 120px) scale(0.8);
    }
    50% {
        transform: translate(-80px, -150px) scale(1.2);
    }
    75% {
        transform: translate(120px, -100px) scale(0.9);
    }
}

.animate-blob-1 {
    animation: blob-1 6s infinite;
}

.animate-blob-2 {
    animation: blob-2 6s infinite;
}
