/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

#root,
main {
  overflow-x: hidden;
}

#sidebar-bottom {
  backface-visibility: hidden;
  transform: translateZ(0);
}
